@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { margin: 0; padding: 0; }

/* General reset */
body {
    background-color: #D9D9D9;
    font-family: "Poppins", serif;
    font-weight: 600;
    display: grid;
    grid-template-columns: 400px 8px 1fr; /* Navbar, divider, widgets */
    gap: 10px;
    height: 100vh; /* Full height of the viewport */
}

.container {
    display: contents;
}

/* -------------------------------------------- NAVBAR  ---------------------------------------------- */
ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 20px;
}

/* Navbar container */
nav ul {
    padding: 20px;
}

nav ul .navbar {
    text-align: center;
    margin: 0 0 40px 0;
    padding: 15px;
    background-color: #1E1E1E;
    color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}
nav ul .navbar:hover {
    transform: translateX(25px);
}

.navbar a {
    text-decoration: none;
    color: #D9D9D9;
}

nav ul li {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

nav ul .logo a {
    color: #1E1E1E;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}

nav ul .logo img {
    height: 25px;
    width: 25px;
    padding: 1px;
}

nav ul li #support {
    color: #41A6EF;
}

nav ul li #logout {
    color: #AC2818;
}

/* ------------------------------------------------------------------------------------------ */
.divider {
    background-color: #1E1E1E;
    width: 4px;
    margin: 40px;
    height: 90%;
    border-radius: 5px;
}

/* -------------------------------------- TOP WIDGETS --------------------------------------- */
/* ---------------------------------------Start of TOP */
.main {
    grid-column: 3; /* Ensure .main starts at the third column */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */ 
    grid-template-rows: auto auto auto; /* Auto height for each row */
    color: #D9D9D9;
    margin: 20px 80px;
}

.main .top-container {
    grid-column: span 3; /* Span across 3 columns */
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
.main .top {
    height: 200px;
    background-color: #1E1E1E;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.title {
    padding: 0px 20px;
    font-size: 30px;
}

.num {
    padding: 0 20px;
    font-size: 25px;
    
}
.numSmall {
    padding: 0 20px;
    font-size: 15px;
    color: #44CF6C;
}


/* ---------------------------------------------- End of TOP */
/* -----------------------------------------------Start of WEATHER */
.main .weather {
    grid-column: span 3;
    height: 250px;
    background-color: #1E1E1E;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.weather #welcome {
    font-size: 25px;
    margin: 20px;
}


.day-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    text-align: center;
}

.day {
    text-align: center;
    padding: 0 75px;
}

.temp {
    font-size: 24px;
}

.weather .day-container img {
    width: 60px;
}

.dayName {
    font-size: 20px;
}

/* ----------------------------------------------End of WEATHER */
/* ----------------------------------------------Start of BOTTOM */

.main .bottom {
    grid-column: span 1;
    height: 100px;
    background-color: #1E1E1E;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.bottom .sub {
    font-size: 32px;
}




/* ---------------------------------------------End of BOTTOM */



#pos {
    color: #44CF6C;
}

#mid {
    color: #FF9B10;
}
#neg {
    color: #EE6352;
}