<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li class="logo"><img src="{{ url_for('static', filename='images/profile.png') }}"><a href="">Wealthies</a></li>
            <li class="navbar"><a href="#">Import Data</a></li>
            <li class="navbar"><a href="#">Goals</a></li>
            <li class="navbar"><a href="#">Crypto</a></li>
            <li class="navbar"><a href="#">News</a></li>
            <li class="navbar"><a href="#">Location</a></li>
            <li class="navbar"><a href="#">Settings</a></li>
            <li class="navbar"><a id="support" href="#">User Support</a></li>
            <li class="navbar"><a id="logout" href="#">Logout</a></li>
        </ul>
    </nav>




</body>
</html>
