<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li class="logo"><img src="{{ url_for('static', filename='images/profile.png') }}"><a href="">Wealthies</a></li>
            <li class="navbar"><a href="#">Import Data</a></li>
            <li class="navbar"><a href="#">Goals</a></li>
            <li class="navbar"><a href="#">Crypto</a></li>
            <li class="navbar"><a href="#">News</a></li>
            <li class="navbar"><a href="#">Location</a></li>
            <li class="navbar"><a href="#">Settings</a></li>
            <li class="navbar"><a id="support" href="#">User Support</a></li>
            <li class="navbar"><a id="logout" href="#">Logout</a></li>
        </ul>
    </nav>
    <div class="divider"></div>
    <div class="main">
        <div class="top-container">
            <div class="top">
                <p class="title">Total Profit</p>
                <p class="num">$3000</p>
                <p class="numSmall">+1200</p>
        
            </div>
            <div class="top">
                <p class="title">Total Gains</p>
                <p class="num">$1568</p>
                <p class="numSmall" id="neg">-140</p>
            </div>
        </div>
        <div class="weather">
            <p id="welcome">Welcome, {{name}}</p>
            <div class="day-container">
                <div class="day">
                    <p class="temp">32°C</p>
                    <img src="{{ url_for('static', filename='images/sunny.svg') }}" alt="weather">
                    <p class="dayName">Sunday</p>
                </div>
                <div class="day">
                    <p class="temp">32°C</p>
                    <img src="{{ url_for('static', filename='images/sunny.svg') }}" alt="weather">
                    <p class="dayName">Monday</p>
                </div>
                <div class="day">
                    <p class="temp">32°C</p>
                    <img src="{{ url_for('static', filename='images/rainy.svg') }}" alt="weather">
                    <p class="dayName">Tuesday</p>
                </div>
                <div class="day">
                    <p class="temp">32°C</p>
                    <img src="{{ url_for('static', filename='images/rainy.svg') }}" alt="weather">
                    <p class="dayName">Wednesday</p>
                </div>
                <div class="day">
                    <p class="temp">32°C</p>
                    <img src="{{ url_for('static', filename='images/sunny.svg') }}" alt="weather">
                    <p class="dayName">Thursday</p>
                </div>
                <div class="day">
                    <p class="temp">32°C</p>
                    <img src="{{ url_for('static', filename='images/sunny.svg') }}" alt="weather">
                    <p class="dayName">Friday</p>
                </div>
                <div class="day">
                    <p class="temp">32°C</p>
                    <img src="{{ url_for('static', filename='images/rainy.svg') }}" alt="weather">
                    <p class="dayName">Saturday</p>
                </div>
            </div>

        </div>
        <div class="bottom" id="income">
            <p class="title">Months Income</p>
            <p class="sub" id="pos">$10,000</p>
        </div>
        <div class="bottom" id="spending">
            <p class="title">Months Spending</p>
            <p class="sub"  id="neg">$2,500</p>
        </div>
        <div class="bottom" id="net">
            <p class="title">Months Net Income</p>
            <p class="sub"  id="mid">$7,500</p>
        </div>
        


    </div>
    




</body>
</html>
