<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
        <h1>Login</h1>
        <form method="POST" action="/logn">
            <label for="name">Name:</label>
            <br>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="name">Password:</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="create">Create one</a></p>
    </body>
</html>
